
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  text-align: center;
}

.map-window{
  background-color: azure;
  height: 100vh;
}

.map-window h2{
  margin-top: 0;
  padding-top: 15px;
}

.map-map{
  height: 400px;
}

.btn{
  margin: 8px;
  padding: 8px;
  border: none;
  color: white;
  background-color: rgb(25, 150, 143);
  border-radius: 5px;
  font-weight: 600;
  margin-top: 20px;
}