
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  text-align: center;
}

.map-window{
  background-color: azure;
  height: 100vh;
  display: flex;
}

aside{
  width: 300px;
  display: flex;
  flex-direction: column;
}

.map-window h2{
  margin: 0;
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;
}

.map-map{
  height: 100vh;
  flex: 1;
}

.btn{
  margin: 8px;
  padding: 8px;
  border: none;
  color: white;
  background-color: rgb(25, 150, 143);
  border-radius: 5px;
  font-weight: 600;
}

.search-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 300px;
  min-height: 50px;
  width: 250px;
}

.search-section form{
  margin: 0 0px 0 40px;
  width: 300px;
  display: flex;
  height: 40px;
  justify-content: space-around;
}

.search-section form button{
  width: 50px;
  background-color: purple;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: large;
  font-weight: 700;
}

.search-section form button:hover{
  background-color: rgb(190, 4, 190);
  cursor: pointer;
}

.search-section form input{
  border: 2px solid lightgray;
  border-radius: 7px;
  width: 210px;
  font-size: 16px;
  margin-left: 10px;
}

.search-matches{
  margin: 0;
  padding: 0;
  text-align: start;
}

.search-match{
  padding: 5px;
  display: inline-block;
  color: blueviolet;
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
  min-width: 80px
}

.search-match:hover{
  color: rgb(161, 77, 240);
  cursor: pointer;
  font-weight: 500;
}